/* BlogEditor.module.css */
.editorContainer :global(.ce-header h1),
.editorContainer :global(.ce-block h1) {
  @apply text-4xl font-bold text-gray-900 my-4;
  line-height: 1.25;
}

.editorContainer :global(.ce-header h2),
.editorContainer :global(.ce-block h2) {
  @apply text-3xl font-bold text-gray-800 my-3;
  line-height: 1.25;
}

.editorContainer :global(.ce-header h3),
.editorContainer :global(.ce-block h3) {
  @apply text-2xl font-bold text-gray-800 my-3;
  line-height: 1.25;
}

.editorContainer :global(.ce-header h4),
.editorContainer :global(.ce-block h4) {
  @apply text-xl font-bold text-gray-700 my-2;
  line-height: 1.25;
}

.editorContainer :global(.ce-header h5),
.editorContainer :global(.ce-block h5) {
  @apply text-lg font-bold text-gray-700 my-2;
  line-height: 1.25;
}

.editorContainer :global(.ce-header h6),
.editorContainer :global(.ce-block h6) {
  @apply text-base font-bold text-gray-600 my-2;
  line-height: 1.25;
}